body {
    overflow-x: hidden;
}

#header {
    height: 50px;
    background-color: white;
    border-bottom: 1px solid #47525d;
}

#header .row div {
    height: 100%;
    top: 0;
}

#header .row .list-inline {
    margin-top: 0;
    height: 100%;
}

#header .row .list-inline li {
    height: 100%;
}

.dropdown {
    width: 100%;
}

#header .row .list-inline li button {
    height: 100%;
    width: 100%;
}

#header .row .list-inline li {
    top: 0;
}

#header div img {
    max-height: 23px;
    vertical-align: middle;
}

.list-inline li {
    /*width: 33%;*/
}

.dropdown button {
    border: none;
}

.banner {
    background-color: rgba(239, 239, 234, 0.5);
    font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
    font-weight: normal;
    color: #47525d;
}

.banner h1, .banner h3, .banner h4 {
    font-weight: 100;
    line-height: 1.3;
}

.banner h1 {
    font-size: 48px;
}

.banner a.btn {
    background: #0071e0;
    color: #fff;
    font-size: 24px;
    padding: 14px 20px;
    margin-top: 10%;
}

.banner a.btn:hover {
    background: rgb(76, 180, 249);
}

.banner h4 a {
    border-bottom: 1px solid #0071e0;
    color: #0071e0;
}

.banner h4 a:hover {
    text-decoration: none;
    color: #4CB4F9;
}

.banner .text {
    float: left;
    position: absolute;
    margin-top: 10%;
    margin-left: 13%;
    width: 30vw;
}

.banner .image {
    margin-left: 40%;
}

.banner .text, .banner .image {
    display: inline;
}

#subscribe {
    height: 500px;
    background-color: #323a45;
    width: 100%;
}

#subscribe h2 {
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-weight: 100;
    margin-top: 160px;
    margin-bottom: 80px;
}

.form-inline {
    width: 100%;
}

.form-inline {
	width: 100%;
    margin-left: 10%;
}

.form-inline div {
    position: relative;
    float: left;
    margin: 0;
}

.form-inline input {
    font-size: 18px;
    height: 63px;
    width: 230px;
    padding-left: 48px;
    padding: 18px 15px;
    margin-right: 10px;
}

.form-inline label {
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px 0px 0px 20px;
    margin-left: 50px;
    color: #8a959e;
    font-size: 18px;
    font-weight: 400;
}

.form-inline div i {
    position: absolute;
    top: 18px;
    left: 15px;
}

.ico-user {
    display: inline-block;
    vertical-align: middle;
    height: 24px;
    width: 24px;
    background-image: url('../img/label.png');
    background-position: 0 -474px;
    background-repeat: no-repeat;
}

.ico-email {
    display: inline-block;
    vertical-align: middle;
    height: 24px;
    width: 24px;
    background-image: url('../img/label.png');
    background-position: 0 -386px;
    background-repeat: no-repeat;
}

.ico-password {
    display: inline-block;
    vertical-align: middle;
    height: 24px;
    width: 24px;
    background-image: url('../img/label.png');
    background-position: 0 -430px;
    background-repeat: no-repeat;
}

.form-inline button {
    background: #ff3366;
    height: 63px;
    border: none;
    color: #fff;
}

.form-inline button:hover {
    background: rgb(241, 18, 63);
    color: #fff;
}

#subscribe h6 {
    color: #747c83;
    text-align: center;
    margin-top: 40px;
}

#subscribe h6 a {
    color: #747c83;
    text-decoration: underline;
}

#subscribe h6 a:hover {
    color: #fff;
}