body {
    overflow-x: hidden;
}

/* header ------------------------------------------------------------------------------------------------------------*/

#header {
    height: 50px;
    background-color: white;
    /*border-bottom: 1px solid #47525d;*/
}

#header .row {
    height: 100%;
}

#header .row div {
    height: 100%;
    /*top: 0;*/
}

#header .col-xs-4>.btn-group {
    /*margin-top: 0;*/
    height: 100%;
}

#header .col-xs-2 img {
    max-height: 23px;
    margin-left: 40px;
    margin-top: 15px;
}

.row .btn {
    border-radius: 0;
    border: none;
}

.btn-group button {
    height: 50px;
    border: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.dropdown .btn-primary {
    background-color: #fff;
    color: #333;
}

.col-xs-4 .btn-group .btn-group .btn-primary:hover,
.col-xs-4 .btn-group .btn-group .open>.btn-primary:focus {
    background: #f2f2f2;
    box-shadow: none;
    color: #333;
    border: none;
}

.col-xs-4 .btn-group .btn-group.open .btn-primary {
    background: #f2f2f2;
    box-shadow: none;
}

.col-xs-4 .btn-group .btn-group .dropdown>.dropdown-menu {
    position: absolute;
    border-radius: 0;
    padding: 0 0 8px;
    margin-top: 0;
    background: #f2f2f2;
    box-shadow: none;
    border-top: none;
    border-left: 1px solid rgba(0,0,0,0.05);
    border-bottom: 1px solid rgba(0,0,0,0.3);
    border-right: 1px solid rgba(0,0,0,0.1);
}

#store {
    width: 200px;
    height: 548px;
}

.col-xs-4 .btn-group .btn-group:first-of-type .dropdown>.dropdown-menu li {
    height: 10%;
}

.dropdown .dropdown-menu li a {
    /*height: 50px;*/
    padding: 15px 20px 15px 20px;
}

/*.dropdown-menu {
    width: 200px;
}*/

.col-xs-4 .btn-group .btn-group:first-of-type .dropdown>.dropdown-menu .dropdown-submenu>.dropdown-menu {
    background: #e5e5e5;
    /*height: 548px;*/
    position: absolute;
    width: 300px;
    /*top: -56px;*/
    left: 198px;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    border-right: 1px solid rgba(0,0,0,0.1);
    border-radius: 0;
    box-shadow: none;
}

.col-xs-4 .btn-group .btn-group:nth-of-type(2) .dropdown>.dropdown-menu .dropdown-submenu>.dropdown-menu {
    background: #e5e5e5;
    /*height: 548px;*/
    position: absolute;
    width: 300px;
    top: -56px;
    left: 218px;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    border-right: 1px solid rgba(0,0,0,0.1);
    border-radius: 0;
    box-shadow: none;
}

.dropdown-submenu>.dropdown-menu li a:hover {
    background: #7F7F7F;
}

.btn-group .btn-group:nth-of-type(2) .dropdown>.dropdown-menu {
    width: 220px;
    height: 274px;
}

.col-xs-4 .btn-group .btn-group:nth-of-type(2) .dropdown>.dropdown-menu li {
    /*height: 20%;*/
}

.col-xs-4 .btn-group .btn-group .dropdown-menu li a:hover {
    background: #e5e5e5;
}

.col-xs-4 .btn-group .btn-group .dropdown-menu li .btn-group .btn .dropdown-menu {
    border-radius: 0;
    padding: 0 0;
    margin-top: 0;
    background: #f2f2f2;
    box-shadow: none;
    border: 1px solid #e5e5e5;
    border-top: none;
}

.dropdown-menu li a {
    height: 50px;
}

.col-xs-4 .btn-group .btn-group .dropdown-menu li a:hover {
    background: #e5e5e5;
}

:focus {
    outline: none;
}

/*------------------------------------------------------------*/
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    /*top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;*/
    /*-webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;*/
    /*visibility: hidden;*/
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

/*.dropdown-submenu.open {
    display: block;
}*/

.dropdown-submenu>a:after {
    /*display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;*/
    /*content: "îœ";
    display: block;
    width: 1em;
    height: 1em;
    font-family: "shell-icons";
    font-style: normal;
    line-height: 1.1;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    top: 21px;
    right: 28px;
    font-size: 6px;
    font-weight: bold;*/
}

/*@media (min-width: 899px) {
    .dropdown-submenu>a:after {
        top: 24px;
        right: 12px;
        position: static;
        display: inline-block;
        margin-left: .3em;
        vertical-align: middle;
    }
}*/

/*.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}*/

.dropdown .glyphicon {
    float: right;
    font-size: 7px;
    color: #999;
    font-weight: 100;
    display: inline;
    top: 8px;
    /*right: 28px;*/
    width: 1em;
    height: 1em;
    margin-left: 5px;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    /*-webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;*/
}
/*----------------------------------*/

#search-wrapper {
    position: absolute;
    height: 50px;
    width: 280px;
}

.col-xs-3 input {
    position: relative;
    top: 7px;
    border: 1px solid #A9A9A9;
    width: 280px;
    height: 36px;
    padding: 0 10px;
}

.col-xs-3 input:focus {
    border: 1px solid #A9A9A9;
    box-shadow: none;
}

#search-wrapper button {
    position: absolute;
    top: 13px;
    right: 6px;
    height: 24px;
    width: 24px;
    background: url('../img/search.png') no-repeat;
    border: none;
}

.col-xs-2 .btn-group .btn-group button {
    display: inline;
}

.col-xs-2 .btn-group .btn-group button p {
    float: right;
    font-size: 12px;
    margin-top: 8px;
}

.ico-cart {
    display: inline-block;
    vertical-align: middle;
    height: 18px;
    width: 18px;
    background-image: url('../img/shopping_cart.png');
    background-size: cover;
    margin-right: 5px;
    margin-top: 5px;
}

/* banner ---------------------------------------------------------------------------------------------------------*/

.banner {
    background-color: rgba(239, 239, 234, 0.5);
    font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
    font-weight: normal;
    color: #47525d;
}

.banner h1, .banner h3, .banner h4 {
    font-weight: 100;
    line-height: 1.3;
}

.banner h1 {
    font-size: 48px;
}

.banner a.btn {
    background: #0071e0;
    color: #fff;
    font-size: 24px;
    padding: 14px 20px;
    margin-top: 10%;
}

.banner a.btn:hover {
    background: rgb(76, 180, 249);
}

.banner h4 a {
    border-bottom: 1px solid #0071e0;
    color: #0071e0;
}

.banner h4 a:hover {
    text-decoration: none;
    color: #4CB4F9;
}

.banner .text {
    float: left;
    position: absolute;
    margin-top: 10%;
    margin-left: 13%;
    width: 30vw;
}

.banner .image {
    margin-left: 40%;
}

.banner .text, .banner .image {
    display: inline;
}

/* subscribe -----------------------------------------------------------------------------------------------------*/

#subscribe {
    height: 500px;
    background-color: #323a45;
    width: 100%;
}

#subscribe div {
    display: table;
    width: auto;
    margin: auto auto;
}

#subscribe h2 {
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-weight: 100;
    margin-top: 160px;
    margin-bottom: 80px;
}

.form-inline {
    width: auto;
    margin: auto auto;
}

.form-inline div {
    position: relative;
    float: left;
    margin: 0;
}

.form-inline input {
    font-size: 18px;
    height: 63px;
    width: 230px;
    padding-left: 48px;
    padding: 18px 15px;
    margin-right: 10px;
}

.form-inline label {
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px 0px 0px 20px;
    margin-left: 50px;
    color: #8a959e;
    font-size: 18px;
    font-weight: 400;
}

.form-inline div i {
    position: absolute;
    top: 18px;
    left: 15px;
}

.ico-user {
    display: inline-block;
    vertical-align: middle;
    height: 24px;
    width: 24px;
    background-image: url('../img/label.png');
    background-position: 0 -474px;
    background-repeat: no-repeat;
}

.ico-email {
    display: inline-block;
    vertical-align: middle;
    height: 24px;
    width: 24px;
    background-image: url('../img/label.png');
    background-position: 0 -386px;
    background-repeat: no-repeat;
}

.ico-password {
    display: inline-block;
    vertical-align: middle;
    height: 24px;
    width: 24px;
    background-image: url('../img/label.png');
    background-position: 0 -430px;
    background-repeat: no-repeat;
}

.form-inline button {
    background: #ff3366;
    height: 63px;
    border: none;
    color: #fff;
}

.form-inline button:hover {
    background: rgb(241, 18, 63);
    color: #fff;
}

#subscribe h6 {
    color: #747c83;
    text-align: center;
    margin-top: 40px;
}

#subscribe h6 a {
    color: #747c83;
    text-decoration: underline;
}

#subscribe h6 a:hover {
    color: #fff;
}

/* container ---------------------------------------------------------------------------------------------------*/

#container {
    width: 100%;
}

#container ul {
    margin: 0;
    list-style: none;
    max-width: none;
    min-width: 0;
    padding: 0;
}

#container ul li {
    /*display: inline;*/
    float: left;
    width: 33.33333333%;
    background: #282828;
    height: 300px;
    overflow: hidden;
    position: relative;
}

#container ul:before, #conteiner ul li:before {
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}

#container ul:after, #conteiner ul li:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}

#container ul li a {
    text-decoration: none;
}

#valkyrie a div:first-of-type {
    background-image: url("../img/eve-valkyrie.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    opacity: .3;
    text-align: center;
    transition: 
        transform .3s,
        opacity .3s;
    width: 100%;
}

#lucky a div:first-of-type {
    background-image: url("../img/luckys-tale.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    opacity: .3;
    text-align: center;
    transition: 
        transform .3s,
        opacity .3s;
    width: 100%;
}

#touch a div:first-of-type {
    background-image: url("../img/touch.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    opacity: .3;
    text-align: center;
    transition: 
        transform .3s,
        opacity .3s;
    width: 100%;
}

#container ul li a div:nth-of-type(2) {
    box-sizing: border-box;
    padding: 0 32px;
    position: absolute;
    top: 50%;
    transform:
        translate(0, -50%);
    width: 100%;
    display: block;
}

#container ul li a div:nth-of-type(2) h4 {
    margin: 0;
    color: #a4a5a6;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 16px;
    text-align: center;
    font: "Oculus Sans", "Arial", "Helvetica", sans-serif;
}

#container ul li a div:nth-of-type(2) h3 {
    margin: 0;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    line-height: 28px;
    text-align: center;
    font: "Oculus Sans", "Arial", "Helvetica", sans-serif;
}

/* footer ----------------------------------------------------------------------------------------------------*/

#footer {
    min-width: 1024px;
    font-size: 12px;
    line-height: 1.66667;
    font-weight: 400;
    letter-spacing: normal;
    background-color: #f2f2f2;
    color: #666;
    overflow: hidden;
    position: relative;
    z-index: 1;
    font-family: "Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif;
    direction: ltr;
    text-align: left;
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    display: block;
}

@media only screen and (max-width: 1044px) {
    #footer {
        min-width: 320px;
    }
}

#footer * {
    font-size: 1em;
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
    text-align: inherit;
}

#f-content {
    margin: 0 auto;
    padding: 0 22px;
    max-width: 980px;
    height: 100%;
}

#navigation {
    padding-top: 32px;
    font-size: 12px;
    line-height: 1.66667;
    font-weight: 400;
    letter-spacing: normal;
    position: relative;
    z-index: 1;
    display: block;
    height: auto;
}

#navigation:before, #navigation:after {
    content: ' ';
    display: table;
}

#navigation:after {
    clear: both;
}

.directory-column {
    width: 20%;
    position: relative;
    z-index: 1;
    min-height: 2px;
    margin: 0;
    padding: 0;
    float: left;
}

.column-section {
    width: 100%;
    position: relative;
    z-index: 1;
    min-height: 2px;
    margin: 0;
    padding: 0;
    float: left;
}

.column-section:nth-of-type(2) {
    padding-top: 20px;
}

.section-title {
    color: #333;
    font-size: 12px;
    line-height: 1.66667;
    font-weight: 600;
    letter-spacing: normal;
    margin: 0;
}

.section-list {
    margin-right: 20px;
    list-style: none;
    padding: 0;
}

.section-link {
    color: #666;
    text-decoration: none;
}

.section-link:hover {
    color: #333;
}

section {
    color: #999;
    padding: 20px 0 24px;
    border-top: none;
    display: block;
    height: auto;
}

#shop {
    border-bottom: 1px solid #e3e3e3;
    margin-bottom: 6px;
    padding-bottom: 5px;
    max-height: 9999px;
}

#shop a {
    color: #08c;
    text-decoration: none;
}

section a:hover, #shop a:hover {
    color: #333;
    text-decoration: underline;
}

#locale {
    float: right;
}

#locale a {
    border-left: none;
    margin-left: 0;
    padding-left: 0;
    display: inline;
    color: #666;
    text-decoration: none;
}

#flag {
    background-repeat: no-repeat;
    background-size: 16px 16px;
    /*display: inline-block;*/
    width: 16px;
    height: 16px;
    background-image: url("../img/16.png");
    padding-right: 5px;
    background-position: left center;
    float: left;
    margin-top: 1px;
}

#legal {
    color: #999;
}

#copyright {
    margin-right: 26px;
    float: left;
}

#legal-links {
    margin-right: 26px;
    float: left;
    color: #999;
}

.legal-link {
    border-right: 1px solid #d6d6d6;
    margin-right: 10px;
    padding-right: 12px;
    color: #666;
    
}