body {
    font: 1em Verdana, Geneva, sans-serif;
    padding: 0;
    margin: 5px;
    color: Black;
    background-color: WhiteSmoke;
}

div {
    padding: 0;
    margin: 0;
}

button {
    cursor: pointer;
}

.hidden {
    display: none;
}

#app {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 4px;
    /*background-color: #77A;
    background: -webkit-linear-gradient(top, #99928E, #272422);
    background: -moz-linear-gradient(top, #99928E, #272422);
    background: -ms-linear-gradient(top, #99928E, #272422);
    background: linear-gradient(top, #99928E, #272422);*/
    background-image: url("img/pattern.jpg");
    background-repeat: repeat;
}

#app>header {
    margin: 0;
    padding: 0 0.5em;
    font-size: 1.5em;
    color: WhiteSmoke;
    /*background-color: #272422;*/
}

#app>footer {
    position: absolute;
    bottom: 0;
    padding: 0.25em;
    color: WhiteSmoke;
}

#main {
    padding: 4px;
    text-align: center;
}

.keyboard {
    padding-bottom: 6px;
    background-color: saddlebrown;
    background: -webkit-linear-gradient(top, #2A1506, saddlebrown);
    background: -moz-linear-gradient(top, #2A1506, saddlebrown);
    background: -ms-linear-gradient(top, #2A1506, saddlebrown);
    background: linear-gradient(top, #2A1506, saddlebrown);
    box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.9);
}

.backboard {
    position: relative;
    height: 32px;
    background-color: #2A1506;
    border-bottom: 2px solid black;
    box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.9);
}

.keyboard .piano-key {
    display: inline-block;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    cursor: pointer;
}

.keyboard .piano-key.white {
    width: 20px;
    height: 150px;
    background-color: Ivory;
    box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.keyboard .piano-key.white.down {
    background-color: #F1F1F0;
    background: -webkit-linear-gradient(top, Ivory, #D5D5D0);
    background: -moz-linear-gradient(top, Ivory, #D5D5D0);
    background: -ms-linear-gradient(top, Ivory, #D5D5D0);
    background: linear-gradient(top, Ivory, #D5D5D0);
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.6);
}

.keyboard .piano-key.black {
    position: relative;
    width: 16px;
    height: 100px;
    left: -11px;
    margin-right: -22px;
    vertical-align: top;
    background-color: black;
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.6);
    z-index: 2;
}

.keyboard .piano-key.black.down {
    background-color: #111;
    background: -webkit-linear-gradient(top, Black, #222);
    background: -moz-linear-gradient(top, Black, #222);
    background: -ms-linear-gradient(top, Black, #222);
    background: linear-gradient(top, Black, #222);
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.6);
}

.tools {
    margin: 50px 83px;
    display: flex;
}

#whole_note {
    background-position: 0 0;
}

#half_note {
    background-position: -50px 0;
}

#quarter_note {
    background-position: -100px 0;
}

#eighth_note {
    background-position: -150px 0;
}

#sixteenth_note {
    background-position: -200px 0;
}

#g_key {
    background-position: -250px 0;
}

#whole_pause {
    background-position: -50px -55px;
}

#half_pause {
    background-position: 0 -55px;
}

#quarter_pause {
    background-position: -100px -55px;
}

#eighth_pause {
    background-position: -150px -55px;
}

#sixteenth_pause {
    background-position: -200px -55px;
}

#f_key {
    background-position: -250px -55px;
}

#undo {
    background-position: -300px 0;
}

#play {
    background-position: -300px -55px;
}

.tools .note button {
    display: inline;
}

.tools .pause button {
    display: inline;
}

.tools button {
    background: url("img/buttons.jpg") no-repeat;
    height: 55px;
    width: 50px;
    border: 1px solid dark-grey;
    border-radius: 10px;
    margin-top: 5px;
}

#sheet {
    left: 0;
    right: 0;
    position: relative;
}

.stave {
    height: 165px;
    width: 1200px;
    margin:auto;
    background: url("img/stave.jpg") no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}

#key_control,
#meter {
    display: block;
    color: black;
}

.tools p {
    color: white;
}

.stave * {
    display: inline;
    float: left;
    vertical-align: top;
    z-index: 2;
}

.tools button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.key_note {
    margin-left: 15px;
}

.clef button {
    display: block;
    margin-left: 15px;
    margin-right: 10px;
}

.func button {
    display: block;
    margin-left: 5px;
    margin-right: 20px;
}

#key_p,
#key_control {
    display: inline;
}

#meter_p,
#meter {
    display: inline;
}

#keys,
#meters {
    margin: 25px 5px 35px 5px;
}

/*#canvas-wrap { position:relative; width:1189px; height:165px }
#canvas-wrap canvas { position:absolute; top:0; left:0; z-index:0 }*/